.row.nested-fields
  .span8.well
    .control-group
      .control-label
        = t('.time_from_till')
      .controls
        .row-fluid
          .span4
            = f.input_field :start_time, as: :date_time_picker, class: 'span10'
          .span4
            = f.input_field :finish_time, as: :date_time_picker, class: 'span10'
          .span4
            = link_to_remove_association t('.delete'), f, class: 'btn btn-danger'

