development:
  adapter: postgresql
  database: progul_development
  encoding: unicode
  template: template0
  pool: 5
  timeout: 5000
  username: postgres
  password: postgres

test:
  adapter: postgresql
  database: progul_test
  encoding: unicode
  template: template0
  pool: 5
  timeout: 5000
  username: postgres
  password: postgres

production:
  adapter: postgresql
  database: progul_production
  encoding: unicode
  template: template0
  pool: 5
  timeout: 5000
  username: postgres
  password: postgres
